
//Variables

//Colors
$light-color: #FBF9FF;
$dark-color: #191924;
$primary-color: #DB3B61;
$secondary-color: #3A3A59;

//Responsivity breakpoints
$d_desktop_xl: 1600px;
$d_desktop_l: 1440px;
$d_desktop_m: 1280px;
$d_desktop_s: 1024px;
$d_tablet: 768px;